- var docName = "Первый сайт на Pug"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body      
        include modules/header   
        .banner 
            .wrapper 
                h1 My-Giro 
                p Крупнейший интернет-магазин гироскутеров, сигвеев и электросамокатов от известных мировых производителей
                input(type="button", value="В КАТАЛОГ")

        include modules/footer 